[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.2"
jupyter = "*"
lxml = "*"
playwright = ">=1.40.0"
openai = "*"

[dev-packages]

[requires]
python_version = "3.9"
