name: Daily News Bot

jobs:
  run-news-bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Check environment
        run: |
          echo "Current time (UTC): $(date)"
          echo "Python version: $(python --version)"
          echo "Working directory: $(pwd)"
          echo "Repository: ${{ github.repository }}"
          echo "Branch: ${{ github.ref }}"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright Browsers
        run: |
          python -m playwright install

      - name: Run news bot
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          EMAIL_LOGIN: ${{ secrets.EMAIL_LOGIN }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          TEST_EMAIL: ${{ github.ref == 'refs/heads/test' && 'ryan.choi@kti.vc' || secrets.TEST_EMAIL }}
        run: |
          python main.py
